body {
  background-color: black;
  text-align: center;
  color: white;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("background.jpg");
  background-size: 400px 600px;
  background-repeat: no-repeat;
  border: 5px solid white;
}



